 body.no_institution {

    #content_wrapper {
        .container {
            font-family: 'Trebuchet MS', sans-serif;
            margin: auto;
            margin-top: 50px;
            text-align: justify;

            p {
                a {
                    color: $orange;
                }
            }

            h1 {
                font-size: 1.5em;
                letter-spacing: 1px;
                margin: 30px 0;
            }

            h2 {
                display: inline-block;
                font-size: 1.3em;
                letter-spacing: 1px;
                border-bottom: 3px solid #FB7C20;
                margin: 20px 0;
            }

            h3 {
                font-size: 0.9em;
                margin-bottom: 20px;
            }

            ul {
                margin-top: 20px;
            }
        }
    }
}