body.search {
    
    #content_wrapper {

        .searchbox {
            margin-top: 100px;
        }

        .details {
            text-align: center;
            width: 300px;
            margin: auto;
            margin-top: 20px;
            font-size: 12px;
            font-family: 'VegurRegular';

            img {
                height: 0.8em;
                margin-right: -2px;
            }
        }
    }
}