{% extends "base.html" %}
{% set page= "aboutus" %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="container">
    <div class="left">
        <h1 id='aboutus' class='aboutus'>ABOUT US</h1>
        
        <h2 id='visions' class='visions'>Our Vision and Goals</h2>
        <h3>'PROVIDING THE MEANS TO FURTHER EXPERIMENTAL SCIENTIFIC RESEARCH'</h3>
        <div class="text">
            At <img src='/static/images/logo_small.png' alt="iii" title="iii" />Science our primary goals are to
            <ul>
                <li>make scientific instruments more readily available to researchers</li>
                <li>provide protocols to help to improve the use of equipment</li>
            </ul>
        </div>
        <h3>'CONNECTING RESEARCH'</h3>
        <div class="text">
            <img src='/static/images/logo_small.png' alt="iii" title="iii" />Science is the response of scientific researchers to the lack of information and access to facilities, equipment and experimental knowledge and expertise.
        </div>
        <h3>'FREE'</h3>
        <div class="text">
            <img src='/static/images/logo_small.png' alt="iii" title="iii" />Science is a free service to academic institutes and will remain free for as long as we exist. We believe that the information that we share is something all academic institutes should have readily available to help further the goals of you, the researcher.
        </div>
        <h3>'CREATED BY SCIENTISTS'</h3>
		<div class='text'>
			<img src='/static/images/logo_small.png' alt="iii" title="iii" />Science has been created by scientists for scientists and we continually work with researchers across a vast range of fields to help to improve our services to the scientific community. If you wish to make any suggestions on how we can improve our services please contact us at <a href='mailto:feedback@iiiscience.com'>feedback@iiiscience.com</a>.
		</div>
		<h3>'NATIONAL SUPPORT'</h3>
		<div class='text'>
			We are supported by a range of academic and government institutes.
		</div>
		
    </div>
    <div class="right">
        <div class="pic"><img src='/static/images/logo_blue.png' alt="iiiScience Logo" title="iiiScience Logo" /></div>
        
        <h2 id='theteam' class='theteam'>The Team</h2>
        <div class="text">
            <img src='/static/images/logo_small.png' alt="iii" title="iii" />Science was initiated in 2011 by researchers Toby Basey-Fisher and William Mayor whilst at Imperial College London and UCL, respectively. Toby currently leads the <img src='/static/images/logo_small.png' alt="iii" title="iii" />Science initiative whilst researching biological analysis and diagnostic techniques at Imperial College. William remains at UCL working in security and crime science whilst leading the <img src='/static/images/logo_small.png' alt="iii" title="iii" />Science development team.
        </div>
    </div>
</div>
{% endblock %}